/* Write your CSS here */
.order-summary-container {
  align-self: flex-end;
  margin-left: auto;
  width: 300px;
  padding: 0px;
}
.order-total {
  color: #616e7c;
  font-family: 'Roboto';
}
.total-amount {
  color: #171f46;
  font-family: 'Roboto';
}
.check-out-button {
  border: 0px none transparent;
  border-radius: 5px;
  outline: none;
  background-color: #0b69ff;
  color: #ffffff;
}
